/* Space out content a bit */
 body {
    background: #F3F3F3;
}
/* NAV BAR */
 .nav-pic {
    margin: -2px 5px 0 0;
    max-height: 20px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
}
/* MAIN POSTS PAGE */
 .post {
    background: #fff;
    padding:15px 0;
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}
.info {
    font-weight: bolder;
    font-size: 16px;
}
.info .url {
    font-weight: normal;
    color:#999;
    font-size:13px;
    margin-left:5px;
}
/* PROFILE PAGE */
 .prof-img {
    width:100%;
    max-width:100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
}
.name {
    font-weight: bolder;
    font-size: 1.5em;
}
.nav-tabs {
    margin-top:30px;
}
.vote {
    height:20px;
    cursor: pointer;
}
.auth-forms {
    max-width:400px;
    margin:0 auto;
    background: #fff;
    padding:1px 25px 25px 25px;
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
.cmt-form {
    margin-top:30px;
}
.cmt {
    margin-top:10px;
    padding-top:10px;
    border-top:1px solid #ccc;
}
.cmt .author {
    font-size:11px;
    color:#bbb;
}
